<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Menu de navegação</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">
				<mob-logo custom="$root.fansite.logo" picture="$root.fansite.facebook.picture" alt="$root.displayName"></mob-logo>
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{ 'active': $root.controller === 'HomeCtrl' }"><a href="/#/">Início</a></li>
				<li ng-class="{ 'active': $root.controller === 'SobreCtrl' }"><a href="/#/sobre"><span ng-bind="$root.aboutPage || 'Sobre'"></a></li>
				<li ng-repeat="page in $root.textPages" ng-class="{ 'active': ($root.controller === 'TextPageCtrl' && $root.activeTextPage === page.path) }"><a href="/#/p/{{ page.path }}" ng-bind="page.title"></a></li>
				<li ng-class="{ 'active': $root.controller === 'FotosCtrl' }"><a href="/#/fotos">Fotos</a></li>
				<li ng-if="$root.fansite.video_count" ng-class="{ 'active': $root.controller === 'VideosCtrl' }"><a href="/#/videos">Vídeos</a></li>
				<li ng-class="{ 'active': $root.controller === 'ContatoCtrl' }"><a href="/#/contato">Contato</a></li>
			</ul>
		</div>
	</div>
</nav>

<mob-banner fansite-name="$root.displayName" page-title="$root.pageTitle" cover="$root.fansite.cover"></mob-banner>

<div class="container">
	<div ng-view></div>
</div>

<footer class="container">
	<hr/>
	<p>Powered by <a href="http://www.mobyourlife.com.br" target="_blank">Mob Your Life</a></p>
</footer>

<div class="enlarge-container large-overlay" ng-click="$root.closeImage()"></div>
<div id="overlay-image" class="enlarge-container large-image" ng-click="$root.closeImage()"></div>