<div ng-if="showBanner && !carousel" class="jumbotron" style="height: {{ height }}px; max-height: {{ height }}px; {{background}}">
	<div class="container">
		<h1 ng-if="$root.controller !== 'HomeCtrl'" ng-bind="title" class="jumbo-title" style="margin-left: {{ margin }}px;"></h1>
	</div>
</div>

<div ng-if="carousel" id="mob-banner" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li ng-repeat="item in carousel" ng-click="carouselNavigate(item.index)" ng-class="{ 'active': item.index === activeIndex }"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div ng-repeat="item in carousel" class="item carousel-item" ng-class="{ 'active': item.index === activeIndex }" style="height: {{ height }}px; background: url({{ item.image }});">
			<div class="carousel-caption">
				<h1 ng-if="$root.controller !== 'HomeCtrl'" ng-bind="title" class="jumbo-title"></h1>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="" ng-click="carouselPrevious()" style="line-height: {{ chevron }}px;">
		<span class="mi-left-open" aria-hidden="true"></span>
		<span class="sr-only">Anterior</span>
	</a>
	<a class="right carousel-control" href="" ng-click="carouselNext()" style="line-height: {{ chevron }}px;">
		<span class="mi-right-open" aria-hidden="true"></span>
		<span class="sr-only">Próximo</span>
	</a>
</div>

<div ng-if="!showBanner && !carousel" class="jumbo-pad"></div>