body {
	padding-top: 50px;

	&.mob-hidden {
		opacity: 0;
	}

	&.mob-fadein {
		opacity: 100;
		-moz-transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
}