.container {
	//padding-top: 20px;
}

.feed {

	.feed-picture {
		text-align: center;

		img {
			display: inline-block;
			max-height: 250px;
		}
	}
}

.fotos {
	img {
		width: 320px;
		height: 180px;
		margin-bottom: 1.5em;
		object-fit: cover;
	}
}

.media.video {
	margin-bottom: 1.5em;
}

.video-container {
	width: 250px;
	height: 188px;
	background: #999 url('/images/icons/theaters.png') no-repeat center center;
}

footer {
	text-align: center;
}