<div class="list-group">
	<a ng-repeat="i in $root.textPages" ng-href="/#/admin/gerenciar/paginas-estaticas/{{ i._id }}" class="list-group-item hoverable">
		<span ng-bind="i.title"></span>
		<i class="mi-pencil show-on-hover"></i>
	</a>
</div>
<div ng-if="$root.textPages.length === 0">
	<p>Você ainda não tem nenhuma página estática!</p>
	<p>Neste tipo de página, você mesmo pode adicionar uma nova página ao seu site, e escrever o texto desta página. É bem fácil e rápido.</p>
	<p>Clique no botão abaixo para criar uma nova página agora!</p>
</div>
<a href="/#/admin/gerenciar/paginas-estaticas/nova-pagina" class="btn btn-primary pull-right"><i class="mi-plus"></i> Criar nova página</a>