<div class="col-md-12">
	<fieldset>
		<legend class="text-center">Fale Conosco</legend>
	</fieldset>
	<div class="form-group">
		<label class="control-label">Nome</label>
		<input class="form-control" type="text"></input>
	</div>
	<div class="form-group">
		<label class="control-label">Email</label>
		<input class="form-control" type="text"></input>
	</div>
	<div class="form-group">
		<strong>Mensagem:</strong><br/>
		<textarea class="form-control" rows="5"></textarea>
	</div>
	<div class="form-group">
		<div class="pull-right">
			<a class="btn btn-primary btn-lg">
				<i class="fa fa-paper-plane fa-fw"></i>
				Enviar
			</a>
		</div>
	</div>
</div>