<div ng-repeat="f in feeds" class="panel panel-default feed">
	<div class="panel-heading">
		<h3 ng-if="f.story" ng-bind="f.story"></h3>
		<h3 ng-if="!f.story && f.message" ng-bind="f.message"></h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-5">
				<div ng-if="f.picture" class="feed-picture media-box">
					<img ng-src="{{f.picture}}" spinner-on-load ng-alt="{{f.story || f.message}}" class="img-responsive"/>
				</div>
				<div>
					<a href="#" class="btn btn-default"><i class="fa fa-thumbs-o-up fa-fw"></i> <span ng-bind="f.likes_count"></span></a>
					<a href="#" class="btn btn-default"><i class="fa fa-retweet fa-fw"></i></a>
					<span class="pull-right">
						<span ng-bind="f.time | displayDate" class="label label-default"></span>
						<span ng-bind="f.time | displayTime" class="label label-default"></span>
					</span>
				</div>
			</div>
			<div class="col-sm-7">
				
			</div>
		</div>
	</div>
</div>